// Mixins-Import
@import "mixin/animation", "mixin/breakpoint", "mixin/main";

// CSS-Imports
@import "animation", "font";

body {
    width: 100%;
    min-width: 320px;
    max-width: 100vw;
    height: 100%;
    min-height: 390px;  
    
    margin: 0;
    padding: 0;

    background-color: $primary-color;
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
    }
}

body, html {
    scroll-behavior: smooth;
}

// Disables the selection of text
.disSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    // using => @extend .disSelection;
}

.hidden {
    filter: opacity(0%);
    flex-basis: 0%;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;

    & > span {
        display:none;
    }
}

.show {
    width: 300px;
    height: 190px;
    filter: opacity(100%);
    display: flex;
    transition: 0s;
    box-shadow: 0px 3px 5px black;

    & > span {
        display:none;
    }

    &:hover {
        transform: scaleY(1.15) scaleX(1.15);
        margin: 0;
        transition: 0s;
        filter:saturate(150%);
        box-shadow: 0px 4px 8px black;
    }
}

.imgviewer {
    width: 600px;
    height: 380px;

    transform: scaleY(1.3) scaleX(1.3);

    top: 4%;
    margin: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0px 3px 5px black;

    overflow:auto;

    z-index: 110;

    & > span::before {

        width: 100%;
        height: 30%;

        top: 120%;

        align-items: center;
        justify-content: center;
        text-align: center;

        display: flex;
        flex-direction: column;
        position: absolute;

        transition: 0s;

        z-index: 109;

        h1 {
            font-size: 22px;
            z-index: 109;
        }

        p {
            font-size: 16px;
            margin: 0;

            color: white;

            cursor: auto;
            
            & > a {
                font-size: 24px;
                text-decoration: none;

                transition: 3s;

                color: white;

                cursor: pointer;

                &:hover {
                    @include rainbow_text;
                }

                &:active {
                    filter:opacity(50%);
                }
            }
        }
    }

    & > span::after {

        width: 100%;
        height: 30%;

        right: 120%;

        align-items: center;
        justify-content: center;
        text-align: center;

        display: flex;
        flex-direction: column;
        position: absolute;

        transition: 0s;

        z-index: 109;
    }
}