// Mixins-Import
@import "mixin/animation", "mixin/breakpoint", "mixin/main", "animation", "main";

section4 {
    width: 110vw;
    height: 140vh;

    top: 580vh;

    position: absolute;

    -ms-overflow-style: none;  
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

#sb2 {
    width: 100%;
    height: 180vh;

    position: absolute;
    display:flex;

    flex-wrap: wrap;
    flex-direction: row;

    align-content: center;

    overflow-y:hidden;

    overflow-x: visible;

    background-color: $primary-color;
    box-shadow: $shadow-normal;

    z-index: 105;

    @include rainbow;

    & > h5 {
        width: 95.5%;
        height: 10%;

        padding-top: 6vh;

        justify-content: center;
        align-content: center;
        text-align: center;

        display: flex;
        position: relative;

        margin: 0;

        display:flex;

        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 91.5%;

        z-index: 111;

        @include media-down('md'){
            font-size: 6vh;
            top: 5%;
        }
    }

    & > span {
        width: 120%;
        height: 59%;

        margin-left: 11%;
        margin-right: 20%;
        margin-bottom: 2%;
        margin-top: 5%;
        
        display: flex;
        position: relative;

        align-content: flex-start;
        justify-content: center;

        flex-flow: row wrap;

        overflow-x: visible;
        overflow-y: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include media-down('md'){
            top: 5%;
            overflow: auto;
            height: 60%;
            margin-right: 18%;
            margin-bottom: 40%;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        & > .break {
            flex-basis: 100%;
            height: 0;
        }

        & div {
            cursor: pointer;

            margin: 2vh;
            margin-left: 3vh;
            margin-right: 3vh;

            position: relative;

            flex-wrap: wrap;
            flex-direction: column;

            transition: .7s;

            overflow-x: visible;
            overflow-y: visible;

            background-image: url("img/projects/coming_soon.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: inherit;
            background-color: $primary-button-color;

            @include media-down('md'){
                margin: 3%;
            }
        }

        & #proj12 {
            background-image: url("img/projects/proj1.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: inherit;
        }

        & #proj99 {
            width: 0%;
            height: 0%;
            background:none;
            flex-basis: 0%;
            flex-wrap: nowrap;
            margin: 0;
        }

    }
}

