@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
.base-headers, h10, h9, h8, h7, h6, h5, h4, h3, h2, h1 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

@-webkit-keyframes rainbow {
  0% {
    border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}

@keyframes rainbow {
  0% {
    -o-border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    -o-border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
       border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    -o-border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}
@-webkit-keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@-webkit-keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@-webkit-keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@-webkit-keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@-webkit-keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
@keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.base-headers, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

@keyframes rainbow {
  0% {
    -o-border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    -o-border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
       border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    -o-border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}
@keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.base-headers, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 390px;
  margin: 0;
  padding: 0;
  background-color: #222222;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
body::-webkit-scrollbar {
  display: none;
}

body, html {
  scroll-behavior: smooth;
}

.disSelection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.hidden {
  filter: opacity(0%);
  flex-basis: 0%;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
}
.hidden > span {
  display: none;
}

.show {
  width: 300px;
  height: 190px;
  filter: opacity(100%);
  display: flex;
  transition: 0s;
  box-shadow: 0px 3px 5px black;
}
.show > span {
  display: none;
}
.show:hover {
  transform: scaleY(1.15) scaleX(1.15);
  margin: 0;
  transition: 0s;
  filter: saturate(150%);
  box-shadow: 0px 4px 8px black;
}

.imgviewer {
  width: 500px;
  height: 280px;
  top: 4%;
  margin: 0;
  display: flex;
  overflow-x: auto;
  box-shadow: 0px 3px 5px black;
  overflow: auto;
}
.imgviewer > span {
  width: 100%;
  height: 30%;
  top: 120%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.imgviewer > span p {
  font-size: 14px;
  margin: 0;
  color: white;
  cursor: auto;
}
.imgviewer > span p > a {
  font-size: 14px;
  text-decoration: none;
  transition: 3s;
  cursor: pointer;
}
.imgviewer > span p > a:hover {
  -webkit-animation: rainbow_text 10s;
          animation: rainbow_text 10s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.imgviewer > span p > a:active {
  filter: opacity(50%);
}

section2 {
  width: 110vw;
  height: 130vh;
  position: absolute;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section2::-webkit-scrollbar {
  display: none;
}

#sb1 {
  width: 110vw;
  height: 160vh;
  top: 230vh;
  right: 2%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  overflow: hidden;
  background-color: #222222;
  box-shadow: 1px 3px 10px black, 1px 1px 10px black;
  transform: rotate(0.5deg);
  z-index: 100;
  -webkit-animation: rainbow 2s;
          animation: rainbow 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
#sb1 > h5 {
  width: 95.5%;
  height: 10%;
  top: 15%;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  display: flex;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  z-index: 101;
  transform: rotate(-0.5deg);
}
@media all and (max-width: 76.8rem) {
  #sb1 > h5 {
    font-size: 6vh;
    margin-left: 10%;
    margin-right: 12%;
  }
}
#sb1 > span {
  width: 1500px;
  height: 80%;
  top: 17%;
  left: 2%;
  margin-left: 13%;
  margin-right: 20%;
  justify-content: center;
  align-content: center;
  display: inline-flex;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  overflow: hidden;
  transform: rotate(-0.5deg);
}
#sb1 > span > p {
  font-size: 32px;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  display: inline-flex;
  position: relative;
}
@media all and (max-width: 76.8rem) {
  #sb1 > span > p {
    font-size: 3.4vh;
  }
}/*# sourceMappingURL=section2.css.map */