@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
.base-headers, h10, h9, h8, h7, h6, h5, h4, h3, h2, h1 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

@-webkit-keyframes rainbow {
  0% {
    border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}

@keyframes rainbow {
  0% {
    -o-border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    -o-border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
       border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    -o-border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}
@-webkit-keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@-webkit-keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@-webkit-keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@-webkit-keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@-webkit-keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
@keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
.base-headers, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

@keyframes rainbow {
  0% {
    -o-border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #2c90fc 0%, #1500ff 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #8c00ff 0px 2px 12px -12px inset, #8c00ff 0px 3px 30px 0px;
  }
  50% {
    -o-border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
       border-image: linear-gradient(to bottom right, #1500ff 0%, #8c00ff 50%, #2c90fc 100%);
    border-image-slice: 20%;
    box-shadow: #1500ff 0px 2px 7px -12px inset, #1500ff 0px 3px 30px 0px;
  }
  100% {
    -o-border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
       border-image: linear-gradient(to bottom right, #8c00ff 0%, #2c90fc 50%, #8c00ff 100%);
    border-image-slice: 20%;
    box-shadow: #2c90fc 0px 2px 15px -18px inset, #2c90fc 0px 3px 30px 0px;
  }
}
@keyframes rainbow_text {
  0% {
    color: #2c90fc;
    text-shadow: 0px 3px 10px #8c00ff;
  }
  50% {
    color: #8c00ff;
    text-shadow: 0px 3px 10px #1500ff;
  }
  100% {
    color: #1500ff;
    text-shadow: 0px 3px 10px #2c90fc;
  }
}
@keyframes rainbow_inset {
  0% {
    box-shadow: inset 0px 0px 550px #380066;
  }
  50% {
    box-shadow: inset 0px 0px 1550px #080066;
  }
  100% {
    box-shadow: inset 0px 0px 1750px #036ad8;
  }
}
@keyframes rainbow_outset {
  0% {
    box-shadow: 0px 0px 10px #380066;
  }
  50% {
    box-shadow: 0px 0px 10px #080066;
  }
  100% {
    box-shadow: 0px 0px 10px #036ad8;
  }
}
@keyframes spin {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes boxcolor {
  0% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(270deg);
  }
}
@keyframes boxflow {
  0% {
    transform: translateY(-20%) translateX(5%);
  }
  50% {
    transform: translateY(25%) translateX(-10%);
  }
  75% {
    transform: translateY(-2%) translateX(10%);
  }
  100% {
    transform: translateY(15%) translateX(-20%);
  }
}
.base-headers, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1.5vw;
  color: white;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 3.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 4.5vw;
}

h6 {
  font-size: 5vw;
}

h7 {
  font-size: 5.5vw;
}

h8 {
  font-size: 6vw;
}

h9 {
  font-size: 6.5vw;
}

h10 {
  font-size: 7vw;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 390px;
  margin: 0;
  padding: 0;
  background-color: #222222;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
body::-webkit-scrollbar {
  display: none;
}

body, html {
  scroll-behavior: smooth;
}

.disSelection, #bg1 > .loader span > h2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.hidden {
  filter: opacity(0%);
  flex-basis: 0%;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
}

.show {
  width: 300px;
  height: 190px;
  filter: opacity(100%);
  display: flex;
  transition: 0s;
  box-shadow: 0px 3px 5px black;
}
.show:hover {
  transform: scaleY(1.15) scaleX(1.15);
  margin: 0;
  transition: 0s;
  filter: saturate(150%);
  box-shadow: 0px 4px 8px black;
}

.imgviewer {
  transform: scaleY(1.45) scaleX(1.45);
  top: 5%;
  margin: 0;
  overflow-x: auto;
  box-shadow: 0px 3px 5px black;
}

section3 {
  width: 100vw;
  height: 250vh;
  top: 370vh;
  position: absolute;
  overflow: hidden;
}
@media all and (max-width: 76.8rem) {
  section3 {
    top: 365vh;
  }
}

#bg1 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  -webkit-animation: rainbow_inset 10s;
          animation: rainbow_inset 10s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
#bg1 > .loader {
  width: 30vw;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  transform: skewY(15deg) translateX(-20%) translateY(10%);
  -webkit-animation: boxcolor 5s;
          animation: boxcolor 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@media all and (max-width: 32rem) {
  #bg1 > .loader {
    width: 60vw;
    right: 5%;
  }
}
#bg1 > .loader span {
  width: 400px;
  height: 60px;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #313131;
  transition: 0.5s;
  z-index: var(--z);
  -webkit-animation: boxflow 9s;
          animation: boxflow 9s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: calc(-1s * var(--z));
          animation-delay: calc(-1s * var(--z));
}
#bg1 > .loader span > h2 {
  width: 100%;
  height: 100%;
  bottom: 15%;
  font-size: 30px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
#bg1 > .loader span:hover {
  background: #440ec2;
  transition: 0s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#bg1 > .loader span:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#bg1 > .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  width: 240px;
  height: 100%;
  background: #292929;
  transform-origin: right;
  transform: skewY(-45deg) translateX(400px) translateY(160px);
  transition: 0.5s;
}
#bg1 > .loader span:hover::before {
  background-color: #25076b;
  transition: 0s;
}
#bg1 > .loader span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400%;
  transform-origin: top;
  transform: skewX(-45deg) translateY(-240px);
  background-color: #383838;
  transition: 0.5s;
}
#bg1 > .loader span:hover::after {
  background-color: #390aa6;
  transition: 0s;
}/*# sourceMappingURL=section3.css.map */